{% extends 'base.html' %} {% load static %} {%block css%}
<link rel="stylesheet" href="{%static 'css/home.css' %}" />
{%endblock css%} {%block body%}

<div class="desk">
  <div class="left">
    <div class="bg">
      <img src="{%static 'svgs/desk_bg2.svg'%}" class="back" alt="" />
      <img src="{%static 'img/ind.png'%}" class="ind" alt="">
    </div>
  </div>
  <div class="right">
    <img src="{%static 'svgs/desk_title.png'%}" alt="" />

    <div class="location">
      <div class="loc_bg">
        <img src="{%static 'svgs/desk_location.svg'%}" alt="" />
      </div>
      <div class="loc_city">{{city}}</div>
      <div class="loc_country">{{country}}</div>
    </div>

    <div class="hotspots">
      <span class="hs_title">Major Hot-spots</span>
      <table class="hs_cities">
        {% for hotspot in list %} {% if forloop.counter <= 3 %}
        <tr>
          <td class="Location">{{ hotspot.location }}</td>
          <td class="Disaster">{{ hotspot.disaster }}</td>
          <td class="Intensity_local ui{{ hotspot.UniScale }}">
            {{ hotspot.scale }}
          </td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>

    <div class="res">
      <div class="res_bg">
        <img src="{%static 'svgs/resBox.svg'%}" alt="" />
      </div>
      <div class="res_head">Resources</div>
      <div class="res_body">
        <p class="res_subhead">Precautions during Earthquake</p>
        <p>
          Emergency Kit: Include water, non-perishable food, flashlight, first
          aid supplies, batteries, and important documents in a waterproof
          container.

          {{p2}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mob"></div>

{%endblock body%}
